*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: black;
    color: white;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

#tela-grande, #tela-media{
    display: none;
}
.input-group{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.login-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

label{
    margin-bottom: 5px;
}

input{
    background-color: rgb(255, 255,255,0.121);
    border: none;
    padding: 8px;
    color: white;
    border-radius: 4px;

}

button{
    background-color: blue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

h1{
    margin-bottom: 10px;
}
@media(min-width: 1025px) and (max-width: 1440px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 40vh;
        width: 60vh;
    }
    #tela-media{
    display: block;
    width: 100%;
    height: auto;}
}